h1, h2, p:not(.footer){
    text-align:center;
  }
  
  h1, h2, .bold{
    font-family:bookman, "bodoni mt";
  }
  
  body{
    padding:10px 60px;
    font-family:verdana, "segoe ui";
    background-color:#e0e0d1;
  }
  
  #image{
    display:block;
    margin:2px auto;
    max-height:500px;
    max-width:100%;
    border-radius:10px;
  }
  
  figure{
    border:1px solid grey;
    text-align:center;
    padding:5px;
    background-color:grey;
    margin:50px auto;
  }
  
  .bold{
    font-weight:1000;
  }
  
  ul>li{
    margin:15px;
  }

  footer{
    background-color:rgb(41, 40, 40);
    position:absolute;
    margin-top:20px;
    bottom:-1;
    left:0;
    padding:15px;
    color:whitesmoke;
    text-align: center;
    font-style:italic;
    font-size:13px;
  }
  
  .italic{
    font-style:italic;
  }
  
  #date{
    margin-bottom:30px;
    font-style:oblique;
  }
  
  a{
    text-decoration: underline wavy grey 0.5px;
    color:inherit;
  }
  
  .footer:not(.base){
    margin:auto 15%;
  }